#bg-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: -1;
}
nav .navbar-nav li .nav-link{
    color: white !important;
}
.navbar-brand{
    color: white !important;
}
.navbar-text a{
    color: white !important;
}

.navbar-scrolled{
    background-color: black;
}

.main{
    color: white;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main h1{
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: anime-heading 3s 1;
}
@media screen and (max-width: 425px){
    .navbar{
        background-color: white;
        position: fixed;
    }
    .navbar-brand{
        color: black !important ;
    }
    nav .navbar-nav li .nav-link{
        color: black !important;
    }
}